<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container-lg py-3">
    My Fridge
    <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 26rem;">
      <div class="row">
        
      </div>
      <div class="row">
        
      </div>
    </div>
  </div>

</main>

<%- include('../partials/footer') %>
