<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container-lg py-3">
    <h6 class="text-center">Inside Fridge</h6>
    <a href="/myfridge/<%=user.profile._id%>" class="m-3 btn btn-outline-warning">Back to My Fridge</a>
    <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 26rem;">
      
      <div class="row">
        
      </div>
    </div>
  </div>

</main>

<%- include('../partials/footer') %>