<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">
    <h2>New Food Data</h1>
     
    
  </div>
</main>


<%- include('../partials/footer') %>
