<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">

    <h6>Food Show Page</h6>
    
  </div>
</main>


<%- include('../partials/footer') %>
